<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhDcZkqU4tnRzEFvGRrXvnjIX1d8mtAxc</string>
	<key>GCM_SENDER_ID</key>
	<string>713237280952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bus.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>yattra-b5fac</string>
	<key>STORAGE_BUCKET</key>
	<string>yattra-b5fac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713237280952:ios:b66dbf3011a65b78a45c4d</string>
</dict>
</plist>